<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzc.shopproduct_wzc.dao.ShopProductDao">

    <!--查询总条数-->
    <select id="queryProductByCount" resultType="java.lang.Long"
            parameterType="com.wzc.shopproduct_wzc.entity.vo.ProductParams">
        select count(1) from shop_product where 1=1 and isDel=0
        <if test="name!=null and name!=''">
            and name=#{name}
        </if>
    </select>

    <!--查询所有数据-->
    <select id="queryProductPage" resultType="com.wzc.shopproduct_wzc.entity.po.ShopProduct"
            parameterType="com.wzc.shopproduct_wzc.entity.vo.ProductParams">
        select * from shop_product where 2=2 and isDel=0
        <if test="name!=null and name!=''">
            and name=#{name}
        </if>
        limit ${size*(start-1)},#{size}
    </select>



     <!--修改数据-->
    <update id="updateProductData" parameterType="com.wzc.shopproduct_wzc.entity.po.ShopProduct">
         update shop_product set
          name=#{name},title=#{title},bandId=#{bandId},typeId=#{typeId},productdecs=#{productdecs},price=#{price},imgPath=#{imgPath},stocks=#{stocks},sortNum=#{sortNum},createDate=#{createDate},updateDate=#{updateDate},author=#{author},isDel=#{isDel}
          where  id=#{id}
    </update>




</mapper>
