<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzc.shopproduct_wzc.dao.ShopPropertyDao">

    <!--查询总条数-->
    <select id="queryPropertyByCount" resultType="java.lang.Long" parameterType="com.wzc.shopproduct_wzc.entity.vo.BrandParams">
        select  count(1) from shop_property where 1=1 and isDel=0
        <if test="name!=null and name!=''">
            and name=#{name}
        </if>
        <if test="nameCH!=null and nameCH!=''">
            and nameCH=#{nameCH}
        </if>

    </select>

    <!--查询所有数据-->
    <select id="queryPropertyPage" resultType="com.wzc.shopproduct_wzc.entity.po.ShopProperty" parameterType="com.wzc.shopproduct_wzc.entity.vo.BrandParams">
        select * from shop_property where 2=2 and isDel=0
         <if test="name!=null and name!=''">
            and name=#{name}
        </if>
        <if test="nameCH!=null and nameCH!=''">
            and nameCH=#{nameCH}
        </if>
         limit ${size*(start-1)},#{size}
    </select>

    <insert id="addPropertyData" parameterType="com.wzc.shopproduct_wzc.entity.po.ShopProperty" useGeneratedKeys="true" keyProperty="id">
        insert into shop_property (name,nameCH,typeId,type,isSKU,isDel,createDate,author)
        values (#{name},#{nameCH},#{typeId},#{type},#{isSKU},#{isDel},#{createDate},#{author})
    </insert>


    <select id="querypropretyById" resultType="com.wzc.shopproduct_wzc.entity.po.ShopProperty" parameterType="java.lang.Integer">
        select  * from shop_property where id=#{id}
    </select>

    <update id="updatePropertyData" parameterType="com.wzc.shopproduct_wzc.entity.po.ShopProperty">
        update  shop_property set name=#{name},nameCH=#{nameCH},typeId=#{typeId},type=#{type},isSKU=#{isSKU},isDel=#{isDel},updateDate=#{updateDate},author=#{author} where id=#{id}
    </update>

    <update id="deletePropertyData" parameterType="java.lang.Integer">
      update shop_property set isDel=1 where id=#{id}
    </update>

</mapper>
